<!DOCTYPE html>
<html th:replace="~{layout/layout_main :: layout(~{::title}, ~{::link}, ~{::style}, ~{::script}, ~{::section})}" 
      lang="ko" 
      xmlns:th="http://www.thymeleaf.org"> 
<!-- ::title 은   현재 페이지의 title   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 첫번째 파라미터로 전달한다. -->
<!-- ::link 는    현재 페이지의 link    태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 두번째  파라미터로 전달한다. -->
<!-- ::style 은   현재 페이지의 style   태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 세번째 파라미터로 전달한다. -->
<!-- ::script 는  현재 페이지의 script  태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 네번째 파라미터로 전달한다. -->
<!-- ::section 은 현재 페이지의 section 태그를 읽어다가 templates/layout/layout_main.html 파일의 th:fragment="layout(title, link, css, script, content)" 에 있는 다섯번째 파라미터로 전달한다. -->
<!-- 타임리프는 백엔드 서버에서 HTML을 동적으로 렌더링하는 용도로 사용된다. -->

<head>
<meta charset="UTF-8">
<title>JWT(Json Web Token) & JPA(Java Persistence API) 메인 페이지</title>

<link rel="stylesheet" href="" />

<style type="text/css"></style>

<script th:inline="javascript">
  const message = /*[[${message}]]*/ '';
  const loc = /*[[${loc}]]*/ '';
  
  alert(message);
  location.href="/board-service"+loc;
</script>

</head>

<body>
  
  <section class="container-fluid mt-4">
	
  </section>
  
 </body>
 </html> 
